{% extends "base.html" %}
{% block content %}

<h3 class="grey-text text-darken-2 center-align">Categories</h3>

<!-- Category button -->

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large amber darken-2">
            Add category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<!-- Category card-->

<div class="row">
    {% for category in categories %}
    <div class="col s12 m6 l3">
        <div class="card amber lighten-4 center-align">
            <div class="card-content blue-grey-text text-darken-1">
                <!-- If you wanted to show primary key value here, you'd use category.id instead-->
                <span class="card-title">{{ category.category_name }}</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}