{% extends "base.html" %}
{% block content %}

<h3 class="grey-text text-darken-2 center-align">Categories1</h3>

<!-- Category button -->

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large amber darken-2">
            Add category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<!-- Category card-->

<div class="row">
    {% for category in categories %}
    <div class="col s12 m6 l3">
        <div class="card amber lighten-4 center-align">
            <div class="card-content blue-grey-text text-darken-1">
                <!-- If you wanted to show primary key value here, you'd use category.id instead-->
                <span class="card-title">{{ category.category_name }}</span>
            </div>
            <!-- Hypothetical authentication-->
            <!-- This allows only the owner of the categories to edit or delete, rveryone else just sees the cards
            {% if category.owner == session.user %} -->
            <div class="card-action">
                <!-- In this href we call the category id and now it can be used by other files to identify which file should be edited-->
                <a href="{{ url_for('edit_category', category_id=category.id) }}" class="btn green accent-4">Edit</a>
                <a class="btn red modal-trigger" href="#modal-{{ category.id }}" >Delete</a>

                <!-- Modal -->
                <!-- This modal is defensive programming to stop users accidentally deleting data  -->
                <!-- We can use the category id used in the for loop so we don't have to create other unique IDs  -->
                <div id="modal-{{ category.id }}" class="modal">
                    <div class="modal-content">
                        <h4>Are you sure you want to delete this category?</h4>
                        <p>This will delete all associated tasks and cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_category', category_id=category.id) }}" class="btn red">Delete</a>
                        <a href="{{ 'categories' }}" class="btn green accent-4">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- {% endif %} -->
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}